{% extends 'topnav_breadcrumbs_and_footer.html' %}
{% load static i18n %}

{% block content %}

    {# full text search in names, descriptions, tags #}

    <div class="tab-content mt-2">
        <div class="tab-pane active">
            <div id="search-results"></div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script>
        topobank.app.createDatasetListApp(
            '#search-results', '{{ csrf_token }}', {
                isAnonymous: {{ request.user.is_anonymous|yesno:'true,false' }}
            }
        );
    </script>
{% endblock javascript %}