{% extends 'footer_only.html' %}
{% load static %}
{% load tabnav_tags %}
{% load socialaccount %}

{% block body %}

    <div class="fixed-top">
        <div id="topnav"></div>
        {% tab_navigation %}
    </div>

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid mt-1">
                {# Insert actual content, see other templates #}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript_at_end %}
    <!--sidebar js -->
    <script src="{% static 'js/topnav_app.bundle.js' %}"></script>
    <script>
        const messages = [];
        {% if messages %}
            {% for message in messages %}
                messages.push({
                    message: '{{ message }}',
                    level: '{{ message.level_tag }}',
                    extra_tags: '{{ message.extra_tags }}'
                });
            {% endfor %}
        {% endif %}

        topobank.topnav_app.createTopnavApp('#topnav', '{{ csrf_token }}', {
            apiUrl: '{{ request.user.get_absolute_url }}',
            loginUrl: '{% provider_login_url 'orcid' method=" oauth2" %}',
            selectUrl: '{% url 'ce_ui:select' %}',
            adminUrl: '{% url 'admin:index' %}',
            userName: '{{ request.user.username }}',
            name: '{{ request.user.name }}',
            orcid: '{{ request.user.orcid_id }}',
            isAnonymous: {{ request.user.is_anonymous|yesno:'true,false' }},
            isStaff: {{ request.user.is_staff|yesno:'true,false' }},
            messages: messages
        });
    </script>
    {% block javascript %}{% endblock javascript %}
{% endblock javascript_at_end %}
