<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Cloud service for storing and analysis surface topography measurements">
    <meta name="author" content="Michael Röttger, Lars Pastewka, Tevis Jacobs">
    <meta name="keywords"
          content="roughness, surface finish, contact calculator, contact mechanics">

    <title>contact.engineering - A surface topography cloud database</title>

    <link rel="icon" type="image/x-icon"
          href="{% static 'images/favicons/favicon.png' %}"/>

    {% block extra_css %}{% endblock extra_css %}
</head>

<body id="page-top" lang="en-US">

{% block body %}
{% endblock body %}

<!-- OpenSeadragon -->
<!-- This cannot be installed via NPM because scalebar and FileSaver is not available as a package -->
<script src={% static "vendor/openseadragon/openseadragon.min.js" %}></script>
<script src={% static "vendor/openseadragon/openseadragon-scalebar.js" %}></script>
<script src={% static "vendor/openseadragon/FileSaver.min.js" %}></script>

{% block javascript %}{% endblock javascript %}

</body>

</html>

