<!DOCTYPE html>
{% load static i18n %}
{% load icon_tags %}
{% load socialaccount %}
{% load terms_tags %}
{% load tabnav_tags %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Cloud service for storing and analysis surface topography measurements">
    <meta name="author" content="Michael Röttger, Lars Pastewka">
    <meta name="keywords"
          content="roughness, surface finish, contact calculator, contact mechanics">

    <title>contact.engineering - Store and analyze surface topography
        measurements</title>

    <link rel="icon" type="image/x-icon"
          href="{% static 'images/favicons/favicon.png' %}"/>

    <script src="{% static 'js/base.bundle.js' %}"></script>

    <link href="{% static 'tagulous/lib/select2-4/css/select2.min.css' %}"
          rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
</head>

<body id="page-top" lang="en-US">

<div class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <!-- Navbar -->

        {# Logo / name of the application #}
        <a class="navbar-brand ms-3" href="{% url 'home' %}"><img
                src="{% static 'images/ce_logo.svg' %}" height="25px">&nbsp
            contact.engineering</a>
        {% if request %}  {# in case of error 500, there is no request #}
            <div class="collapse navbar-collapse" id="navbar_supported_content">

                {# Search Bar #}
                <ul class="navbar-nav flex-grow-1 ms-5 me-5">
                    <form class="form-inline w-100" action="{% url 'ce_ui:select' %}"
                          method="get">
                        <div class="input-group w-100" id="global-search">
                            <label class="sr-only" for="global-search-input">Search
                                Term</label>
                            <input class="form-control" type="search"
                                   id="global-search-input"
                                   placeholder="Search names, descriptions, and tags"
                                   name="search">
                            <button class="btn btn-outline-secondary"
                                    type="submit">{% fa5_icon 'search' %}</button>
                            <button class="btn btn-outline-secondary" type="button"
                                    data-toggle="modal" data-target="#search-help-modal"
                                    title="Tipps for searching">{% fa5_icon 'info-circle' %}</button>
                        </div>
                    </form>
                </ul>
                {% if request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="btn btn-secondary me-3"
                           href="{% provider_login_url 'orcid' method="oauth2" %}">
                            Sign in
                        </a>
                    </li>
                {% else %} {# user is not anonymous #}
                    <div id="user-menu"></div>
                {% endif %} {# if user is anonymous #}
            </div>
        {% endif %}
    </nav>

    {% tab_navigation %}
</div>

<div id="wrapper">
    <div id="content-wrapper">

        <div class="container-fluid mt-1">
            {# Places Messages #}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {# Insert actual content, see other templates #}
            {% block content %}
            {% endblock content %}
        </div>
        <!-- /#container-fluid -->
    </div>

    {# Check for terms and conditions, show a pop up if there are changes #}
    {# show_terms_if_not_agreed #} {# <- enable by replacing # with % #}
    {# Note that the user can close the modal and it is reopened every new view #}

    <!-- /#content-wrapper -->
</div>

<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <a href="https://pastewka.org/" target="_blank"
               class="text-decoration-none">
                <img src="{% static 'images/uni_freiburg_logo.png' %}"
                     height="64px"></img>
            </a>
            <a href="http://www.engineering.pitt.edu/TevisJacobs/" target="_blank"
               class="text-decoration-none">
                <img src="{% static 'images/pitt_logo.png' %}" height="64px"></img>
            </a>
            &nbsp&nbsp&nbsp&#8213;&nbsp&nbsp&nbsp
            Funding by
            &nbsp&nbsp&nbsp
            <a href="https://erc.europa.eu/" target="_blank"
               class="text-decoration-none">
                <img src="{% static 'images/erc_logo.png' %}" height="64px"></img>
            </a>
            <a href="https://www.livmats.uni-freiburg.de/" target="_blank"
               class="text-decoration-none">
                <img src="{% static 'images/logo_livmats_small.jpg' %}"
                     height="64px"></img>
            </a>
            <a href="https://www.nsf.gov/" target="_blank" class="text-decoration-none">
                <img src="{% static 'images/nsf_logo.png' %}" height="64px"></img>
            </a>
        </div>
    </div>
</footer>

<!-- /#page-wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top" style="display: inline;">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Search Help Modal-->
<div class="modal fade" id="search-help-modal" tabindex="-1" role="dialog"
     aria-labelledby="search-help-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search-help-modal-label">Tips for
                    Searching</h5>
                <button class="btn-close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Searching is performed over these fields:</p>
                <ul>
                    <li>Names of surface and measurements</li>
                    <li>Names of tags</li>
                    <li>Descriptions of digital surface twins and measurements</li>
                </ul>

                <p>All texts in these fields are split into a vector of tokens.
                    Searching means to find matches
                    of the search expression among these tokens. You can build search
                    expression from search terms
                    as follows:</p>

                <table class="table table-bordered table-condensed">
                    <thead class="thead-light">
                    <th>Search result should list items with</th>
                    <th>Search expression</th>
                    <th>Comment</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>both <em>AFM</em> and <em>surface</em></td>
                        <td><input type="text" value="AFM surface" size="40" readonly>
                        </td>
                        <td>text not inside quote marks will be interpreted as AND</td>
                    </tr>
                    <tr>
                        <td>either <em>AFM</em> or <em>surface</em> or both</td>
                        <td><input type="text" value="AFM OR surface" size="40"
                                   readonly></td>
                        <td>logical OR, least precedence</td>
                    </tr>
                    <tr>
                        <td><em>AFM</em> but not <em>surface</em></td>
                        <td><input type="text" value="AFM -surface" size="40" readonly>
                        </td>
                        <td>the logical not operator is written by using -, has highest
                            precedence
                        </td>
                    </tr>
                    <tr>
                        <td>the phrase <em>AFM Surface</em></td>
                        <td><input type="text" value='"AFM surface"' size="40" readonly>
                        </td>
                        <td><em>AFM</em> and <em>surface</em> are found if next to each
                            other
                        </td>
                    </tr>
                    <tr>
                        <td><em>AFM Surface</em> as a phrase and <em>imported</em>
                            somewhere else
                        </td>
                        <td><input type="text" value='"AFM surface" imported' size="40"
                                   readonly></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><em>AFM Surface</em> as a phrase and <em>imported</em> but
                            not <em>material</em></td>
                        <td><input type="text" value='"AFM surface" imported -material'
                                   size="40" readonly></td>
                        <td>The above can also be combined. Parentheses are not allowed,
                            all entries
                            are valid search expressions.
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<!-- OpenSeadragon -->
<!-- This cannot be installed via NPM because scalebar and FileSaver is not available as a package -->
<script src={% static "vendor/openseadragon/openseadragon.min.js" %}></script>
<script src={% static "vendor/openseadragon/openseadragon-scalebar.js" %}></script>
<script src={% static "vendor/openseadragon/FileSaver.min.js" %}></script>

{% block javascript %}{% endblock javascript %}
<!--sidebar js -->
<script src="{% static 'js/topnav_app.bundle.js' %}"></script>
<script>
    topobank.topnav_app.createUserMenuApp('#user-menu', '{{ csrf_token }}', {
        isAnonymous: {{ request.user.is_anonymous|yesno:'true,false' }},
        apiUrl: '{{ request.user.get_absolute_url }}',
        adminUrl: '{% url 'admin:index' %}',
        userName: '{{ request.user.username }}',
        name: '{{ request.user.name }}',
        orcid: '{{ request.user.orcid_id }}',
        isStaff: {{ request.user.is_staff|yesno:'true,false' }}
    });
</script>
</body>

</html>

