{% extends 'base.html' %}
{% load static i18n %}
{% load socialaccount %}

{% block extra_css %}
{% endblock extra_css %}

{% block body %}
    <div class="navbar bg-dark navbar-expand navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex flex-grow-1" href="/"><img
                src="/static/images/ce_logo.svg" height="25px"> &nbsp;
                contact.engineering </a></div>
    </div>

    {% block content %}{% endblock content %}
    <div class="mt-2"></div>
{% endblock body %}
