/* === Global === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line-width: min(70em, calc(100vw - 2em));
  --line-width-adaptive: min(70em, calc(100vw - 2em));
  --link-color: #129beb;
  --link-color-hover: #5755f1;
  --link-external-color: #129beb;
  --link-external-color-hover: #5755f1;
  ;
}

/* === Base Styles === */
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  /* base size: 16px */
  line-height: 1.6;
  color: #111;
  background-color: #fff;
}


h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  /* remove extra spacing */
  max-width: var(--line-width-adaptive);
  position: relative;
}

h3 {
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: center;
}


a {
  color: var(--link-color);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--link-color-hover);
}

a[target="_blank"] {
  color: var(--link-external-color);
}

a[target="_blank"]:hover {
  color: var(--link-external-color-hover);
}


p,
li {
  font-size: clamp(1rem, 2vw, 1.125rem);
}

/* === Image and table format === */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  max-width: var(--line-width-adaptive);
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #0a0a0a;
  text-align: center;
}


.page {
  padding: 1rem;
  margin: 0 auto;
}

/* === Centered Text === */

.page, .centered-page, .organizers-section {
  max-width: var(--line-width-adaptive);
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

/* === Lists without bullets === */
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 1.5em 0;
}

.custom-line {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #00000063;
  margin: 0;
}

/* === end line === */
.blue-line {
  border: none;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(79, 172, 254, 0), #4facfe, rgba(79, 172, 254, 0)) 1;
  margin-top: 5rem;
}


/* list with links spacing */
.link-list {
  padding: 0 1rem;
}

/* === Link list margin === */
.link-list li {
  margin: 1rem 0;
}

.no-bullets li {
  margin-bottom: 1rem;
}

/* === IMG size === */
.small-image {
  max-width: 700px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.medium-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

/* === END Text === */
.organizer-text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1em;
}


/* === Collapsible container ==== */
.collapsible {
  max-width: var(--line-width-adaptive);
  margin: 2rem auto;
  border: none;
  padding: 0;
}

.collapsible-summary {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Arrow next to text */
.collapsible-summary::before {
  content: "➝";
  font-size: 1.5rem;
  color: rgba(128, 128, 128, 0.575);
  opacity: 0;
  transform: translateX(-0.25rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.collapsible-summary:hover::before {
  opacity: 1;
  transform: translateX(0);
}


.collapsible[open] .collapsible-summary::before {
  transform: rotate(90deg);
  /* Rotates ➝ to point down */
}

/* ==== call out ===== */
.callout {
  background-color: #f0f4ff;
  /* blue bar on left */
  padding: 1rem;
  margin: 2rem auto;
  max-width: var(--line-width-adaptive);
  border-radius: 6px;
  color: var(--link-color);
  font-size: 1rem;
  line-height: 1.5;
}